.action-btn-absolute .elementor-button span i {
    color: #FF5A4E;
    line-height: inherit;
}

.action-btn-absolute .elementor-button:hover span i {
    color: #ffffff;
}

.drdt_sticky_fixed .action-btn-absolute  .elementor-button {
    color: #ffffff !important;
    background-color: #00D100 !important;
}

.drdt_sticky_fixed .action-btn-absolute  .elementor-button span i {
    color: #ffffff;
}

.give-form-style-two .give-btn.give-default-level {
    background: #1560BD;
    color: #fff;
    border-color: #1560BD;
}

.copyright-text a:hover {
    color: #1560BD !important;
}

.copyright-text-2 a:hover {
    color: #1560BD !important;
}
.hover-green a:hover {
    color: #00CE72 !important;
}