.elementor-23094 .elementor-element.elementor-element-0be452a:not(.elementor-motion-effects-element-type-background), .elementor-23094 .elementor-element.elementor-element-0be452a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #C85C5C00;
}

.elementor-23094 .elementor-element.elementor-element-0be452a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 40px 0px 40px;
}

.elementor-23094 .elementor-element.elementor-element-0be452a > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

body:not(.rtl) .elementor-23094 .elementor-element.elementor-element-0be452a.drdt_sticky_fixed {
    left: 0px;
}

body.rtl .elementor-23094 .elementor-element.elementor-element-0be452a.drdt_sticky_fixed {
    right: 0px;
}

.elementor-23094 .elementor-element.elementor-element-0be452a.drdt_sticky_fixed {
    top: 0px;
    z-index: 90;
}

.elementor-bc-flex-widget .elementor-23094 .elementor-element.elementor-element-8c07a7c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23094 .elementor-element.elementor-element-8c07a7c.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23094 .elementor-element.elementor-element-5ce4ae9 .drdt_site_logo {
    justify-content: flex-start;
}

.elementor-23094 .elementor-element.elementor-element-5ce4ae9 .drdt_custom_site_logo img {
    width: 200px;
}

.elementor-bc-flex-widget .elementor-23094 .elementor-element.elementor-element-ee566a5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23094 .elementor-element.elementor-element-ee566a5.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu {
    justify-content: center;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__toggle {
    justify-content: center;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item .drdt-menu-item {
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item > .drdt-menu-item {
    color: white;
}

.drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item > .drdt-has-submenu-container > .drdt-menu-item {
    color: white;
}

.drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item > .drdt-menu-item:hover {
    color: #00D100;
}

.drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item > .drdt-has-submenu-container > .drdt-menu-item:hover {
    color: #00D100;
}

.drdt-nav-menu__layout-horizontal .drdt_navmenu > .current-menu-parent.active > .drdt-has-submenu-container > .drdt-menu-item {
    color: #00D100;
}

.drdt-nav-menu__layout-horizontal .drdt_navmenu > .current-menu-item .active {
    color: #00D100;
}

.drdt-nav-menu__layout-horizontal .drdt_navmenu li:hover > .drdt-has-submenu-container a {
    color: #00D100;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item .drdt-menu-item {
    margin: 0px 20px 0px 0px;
    padding: 20px 0px 20px 0px;
}

.drdt_sticky_fixed .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item > .drdt-menu-item {
    color: #6A6A6A;
}

.drdt_sticky_fixed .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item > .drdt-has-submenu-container > .drdt-menu-item {
    color: #6A6A6A;
}

.drdt_sticky_fixed .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item:hover > .drdt-menu-item {
    color: #00D100;
}

.drdt_sticky_fixed .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item:hover > .drdt-has-submenu-container > .drdt-menu-item {
    color: #00D100;
}

.drdt_sticky_fixed .drdt-nav-menu__layout-horizontal .current-menu-parent.active > .drdt-has-submenu-container > .drdt-menu-item {
    color: #00D100;
}

.drdt_sticky_fixed .drdt-nav-menu__layout-horizontal .current-menu-item .active {
    color: #00D100;
}

.drdt-header.drdt_sticky_fixed {
    background-color: #FFFFFF;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu .sub-menu > li .drdt-sub-menu-item {
    margin: 0px 0px 20px 0px;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu .sub-menu li a {
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu .menu-item .drdt-sub-menu-item {
    color: #6A6A6A;
    background: #FFFFFF;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu li:hover > .drdt-has-submenu-container a {
    color: #00D100;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu li .sub-menu li:hover > a {
    color: #00D100;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu li .sub-menu a.active {
    color: #00D100;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt-has-submenu > .sub-menu {
    left: -15px;
    padding: 20px 20px 5px 20px;
}

.elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu .elementor-clickable i {
    font-size: 12px;
}

.elementor-bc-flex-widget .elementor-23094 .elementor-element.elementor-element-73ed674.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23094 .elementor-element.elementor-element-73ed674.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23094 .elementor-element.elementor-element-73ed674.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-23094 .elementor-element.elementor-element-1a6dab0 .elementor-button .elementor-align-icon-right {
    margin-left: 6px;
}

.elementor-23094 .elementor-element.elementor-element-1a6dab0 .elementor-button .elementor-align-icon-left {
    margin-right: 6px;
}

.elementor-23094 .elementor-element.elementor-element-1a6dab0 .elementor-button {
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    fill: #00D100;
    color: #00D100;
    background-color: #00D10000;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #00D100;
    border-radius: 0px 0px 0px 0px;
    padding: 14px 45px 14px 45px;
}

.elementor-23094 .elementor-element.elementor-element-1a6dab0 .elementor-button:hover, .elementor-23094 .elementor-element.elementor-element-1a6dab0 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #00D100;
    border-color: #00D100;
}

.elementor-23094 .elementor-element.elementor-element-1a6dab0 .elementor-button:hover svg, .elementor-23094 .elementor-element.elementor-element-1a6dab0 .elementor-button:focus svg {
    fill: #FFFFFF;
}

@media(min-width: 768px) {
    .elementor-23094 .elementor-element.elementor-element-8c07a7c {
        width:20%;
    }

    .elementor-23094 .elementor-element.elementor-element-ee566a5 {
        width: 59.665%;
    }

    .elementor-23094 .elementor-element.elementor-element-73ed674 {
        width: 20%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-23094 .elementor-element.elementor-element-8c07a7c {
        width:20%;
    }

    .elementor-23094 .elementor-element.elementor-element-ee566a5 {
        width: 60%;
    }
}

@media(max-width: 1024px) {
    .elementor-23094 .elementor-element.elementor-element-0be452a {
        padding:0px 0px 0px 0px;
    }

    .elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item .drdt-menu-item {
        font-size: 15px;
    }

    .elementor-23094 .elementor-element.elementor-element-1a6dab0 .elementor-button {
        font-size: 15px;
        padding: 10px 20px 10px 20px;
    }
}

@media(max-width: 767px) {
    .elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu {
        justify-content:flex-end;
    }

    .elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__toggle {
        justify-content: flex-end;
    }

    .elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item .drdt-menu-item {
        line-height: 30px;
    }

    .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item > .drdt-menu-item {
        color: #6A6A6A;
    }

    .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item > .drdt-has-submenu-container > .drdt-menu-item {
        color: #6A6A6A;
    }

    .elementor-23094 .elementor-element.elementor-element-3eadb33 .drdt-nav-menu__layout-horizontal .drdt_navmenu > .menu-item .drdt-menu-item {
        margin: 0px 0px 5px 0px;
    }
}
